@font-face {
    font-family: "minecraft-font-ten";
    src: url("fonts/289-font.ttf");
  }

  @font-face {
    font-family: "minecraft-rus";
    src: url("fonts/4197-font.ttf");
  }  

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.selected {
    color: white;
    transform: scale(1.2);
}

header {
    width: 100%;
    height: 60px;
    background: rgba(30.81, 30.81, 30.81, 0.50);
    backdrop-filter: blur(10px);
    z-index: 1;
    position: fixed;
    top: 0;
    font-family: "minecraft-font-ten", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
}

.urls {
    display: flex;
    align-items: center;
    gap: 47px;
}

header section {
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 27%;
}

a {
    text-decoration: none;
}

.urls a {
    color: #CDCDCD;
    transition: 0.2s;
}

.urls a:hover {
    color: white;
}

.headerLogo {
    background-image: linear-gradient(to bottom, white, #CACACA);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.headerLogo::first-letter {
    background-image: linear-gradient(to bottom, #FF6B00, #FFB800);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 36px;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #111;
}

.mainScreen_1 {
    background: url(img/image.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
}

.mainScreen_2 {
    background: url(img/screenshot.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
}

.mainScreen_3 {
    background: url(img/screenshot_2.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
}

.mainScreen_4 {
    background: #111;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainScreen_5 {
    background: #111;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainScreen_1_container {
    backdrop-filter: blur(10px) brightness(0.5);
    width: 100%;
    height: 800px;
}

.mainScreen_2_container {
    backdrop-filter: blur(10px) brightness(0.5);
    width: 100%;
    height: 800px;
}

.mainScreen_3_container {
    backdrop-filter: blur(10px) brightness(0.5);
    width: 100%;
    height: 800px;
}

.mainScreen_4_container {
    width: 1440px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin-left: auto;
    margin-right: auto;
}

.mainScreen_5_container {
    width: 1440px;
    height: 800px;
}

.developerInfo {
    color: white;
    font-family: "minecraft-rus", sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    font-size: 24px;
}

h2 {
    color: white;
    font-family: "minecraft-font-ten", sans-serif;
    font-weight: normal;
    font-size: 32px;
}

.mainScreen_1_content {
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.mainScreen_2_content {
    width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
    align-items: end;
}

.mainScreen_3_content {
    width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

h1 {
    margin: 0;
    background-image: linear-gradient(to bottom, #FFFFFF, #797979);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 96px;
    font-family: "minecraft-font-ten", sans-serif;
    font-weight: normal
}

.mainScreen_1_content div {
    font-family: "minecraft-rus", sans-serif;
    color: white;
    font-size: 32px;
}

.mainScreen_2_content div {
    color: white;
    font-family: "minecraft-rus", sans-serif;
    font-size: 32px;
    line-height: 209%;
    margin-bottom: 43px;
}

.mainScreen_3_content div {
    color: white;
    font-family: "minecraft-rus", sans-serif;
    font-size: 32px;
    line-height: 209%;
    margin-bottom: 43px;
}

.sectionCrossing {
    width: 100%;
    height: 260px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #111 52.08%, rgba(0, 0, 0, 0.00) 100%);
    position: absolute;
    bottom: 0;
    z-index: 999;
}

.sectionCrossing_1 {
    top: 670px;
}

.sectionCrossing_2 {
    top: calc(740px * 2 - 10px);
}

.sectionCrossing_3 {
    top: calc(740px * 3 + 40px);
}   

.cityJoin_url {
    background: conic-gradient(from 224deg at 33.44% 19.15%, #FFB800 0deg, #FFBF1A 188.6151909828186deg, #FFC735 360deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s;
    display: inline-block;
}

.cityJoin_url:hover {
    transform: scale(1.05);
}

.joinCity_button, .discordButton, .communityButton  {
    border: 4px solid rgba(0, 0, 0, 0.25);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    font-family: "minecraft-font-ten", sans-serif;
    font-size: 32px;
    opacity: 0.8;
    transition: 0.2s;
}

.joinCity_button:hover, .discordButton:hover, .communityButton:hover {
    opacity: 1;
}

.joinCity_button {
    background: linear-gradient(118deg, #FF6B00 0%, #FFB800 100%);
    width: 100%;
    font-size: 42px;
}

.discordButton {
    background: linear-gradient(112deg, #7289DA 0%, #6765D3 100%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.communityButton {
    background: linear-gradient(117deg, #6D5EF9 0%, #AA55FA 100%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.galleryContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    padding-top: 100px;
}

.galleryRow {
    display: flex;
    align-self: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galleryRow img {
    border: 4px solid rgba(0, 0, 0, 0.25);
    width: 400px;
    cursor: pointer;
    transition: 0.2s;
}

.galleryRow img:hover {
    border: 4px solid white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal img {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-top: 50px;
    border: 4px solid white;
  }
  
  .modal #caption {
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }
  
  .modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: "minecraft-rus", sans-serif;
    cursor: pointer;
    padding: 10px;
  }
  
  .modal .close:hover,
  .modal .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

.developerInfo_container {
    display: flex;
    gap: 20px;
}

.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1100;
    height: 100vh;
  }
  
  .burger-icon {
    display: block;
    font-size: 40px;
    cursor: pointer;
    color: white;
    display: none;
  }
  
  .menu-items {
    position: absolute;
    top: 100px;
    right: -300px; /* Изначально скрываем меню за пределами экрана */
    width: 200px;
    height: 100%;
    background: rgba(30.81, 30.81, 30.81, 0.50);
    backdrop-filter: blur(10px);
    padding: 40px;
    color: white;
    transition: right 0.2s ease-in;
  }
  
  .menu-items li {
    margin-bottom: 10px;
  }
  
  .menu-items a {
    text-decoration: none;
    color: white;
  }
  
  /* При отмеченном чекбоксе показываем меню */
  #burger-toggle:checked ~ .menu-items {
    right: 0;
  }

input {
    display: none;
}


@media (max-width: 1440px) {
    header section {
        width: 100%;
    }

    .mainScreen_4_container {
        width: 90%;
    }

    .mainScreen_5_container {
        width: 90%;
    }

    .mainScreen_1_content {
        width: 90%;
    }
    .mainScreen_2_content {
        width: 90%;
    }
    .mainScreen_3_content {
        width: 90%;
    }
}

@media (max-width: 688px) {
    header section {
        width: 100%;
        gap: 15%;
    }

    .urls {
        display: none;
    }

    .mainScreen_4_container {
        width: 90%;
    }

    .mainScreen_5_container {
        width: 90%;
    }

    .mainScreen_1_content {
        width: 90%;
    }
    .mainScreen_2_content {
        width: 90%;
    }
    .mainScreen_3_content {
        width: 90%;
    }

    .galleryContent {
        padding-top: 150px;
    }

    .modal img {
        margin-top: 100px;
    }

    .modal .close {
        margin-top: 100px;
    }

    .burger-icon {
        display: block;
    }

    .close {
        float: left;
    }
}

@media (max-width: 480px) {
    header section {
        width: 100%;
        gap: 15%;
        flex-direction: column;
    }

    h1 {
        font-size: 76px;
    }

    .mainScreen_1_content div {
        font-size: 22px
    }

    .mainScreen_2_content div {
        font-size: 22px
    }

    .mainScreen_3_content div {
        font-size: 22px
    }

    .mainScreen_4_container {
        width: 90%;
    }

    .mainScreen_5_container {
        width: 90%;
    }

    .mainScreen_1_content {
        width: 90%;
    }
    .mainScreen_2_content {
        width: 90%;
    }
    .mainScreen_3_content {
        width: 90%;
    }

    .galleryRow img {
        width: 300px;
    }

    .galleryContent {
        padding-top: 150px;
    }

    .modal img {
        margin-top: 100px;
    }

    .modal .close {
        margin-top: 100px;
    }

    .close {
        float: left;
    }

    .joinCity_button {
        font-size: 32px;
    }
}

@media (max-width: 377px) {
    header section {
        width: 100%;
        gap: 15%;
        flex-direction: column;
    }

    h1 {
        font-size: 56px;
    }

    .mainScreen_1_content div {
        font-size: 22px
    }

    .mainScreen_2_content div {
        font-size: 22px
    }

    .mainScreen_3_content div {
        font-size: 22px
    }

    .mainScreen_4_container {
        width: 90%;
    }

    .mainScreen_5_container {
        width: 90%;
    }

    .mainScreen_1_content {
        width: 90%;
    }
    .mainScreen_2_content {
        width: 90%;
    }
    .mainScreen_3_content {
        width: 90%;
    }

    .galleryRow img {
        width: 300px;
    }

    .urls {
        gap: 17px;
    }

    .galleryContent {
        padding-top: 150px;
    }

    .modal img {
        margin-top: 100px;
    }

    .modal .close {
        margin-top: 100px;
    }

    .close {
        float: left;
    }
    
    .joinCity_button {
        font-size: 32px;
    }
}

@media (max-width: 320px) {
    header section {
        width: 100%;
        gap: 15%;
        flex-direction: column;
    }

    h1 {
        font-size: 56px;
    }

    .mainScreen_1_content div {
        font-size: 22px
    }

    .mainScreen_2_content div {
        font-size: 22px
    }

    .mainScreen_3_content div {
        font-size: 22px
    } 

    .mainScreen_4_container {
        width: 90%;
    }

    .mainScreen_5_container {
        width: 90%;
    }

    .mainScreen_1_content {
        width: 90%;
    }
    .mainScreen_2_content {
        width: 90%;
    }
    .mainScreen_3_content {
        width: 90%;
    }

    .galleryRow img {
        width: 300px;
    }

    .urls {
        gap: 7px;
    }

    .galleryContent {
        padding-top: 150px;
    }

    .modal img {
        margin-top: 100px;
    }

    .modal .close {
        margin-top: 100px;
    }

    .close {
        float: left;
    }

    .joinCity_button {
        font-size: 32px;
    }
}